#contact-info, 
#contact-form {
    padding: 25px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #386b70;
    color: #fff;
}

#contact-info h2, 
#contact-info p,
#contact-info li {
    margin: 5px;
}

#contact-info .fa-solid {
    font-size: 25px;
    margin-left: 5px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border: 4px;
    width: 90%;
}

#contact-form textarea {
    height: 110px;
}

#contact-form button {
    margin-top: 20px;
    width: 25%;
    padding: 15px;
    border: none;
    background-color: #2C5458;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

#contact-form button:hover {
    background-color: #417b81;
}
