#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.donation-form-container {
    background-color: #386b70;
    padding: 20px;
    border-radius: 8px;
    width: 550px;
}

.donation-form-container h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFF;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #2C5458;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #417b81;
}































footer {
    background-color: #2C5458;
    border-radius: 9.5px;
    text-align: center;
}

footer h3, footer p {
    color: #FFF;
    font-weight: lighter;
}

footer h3 {
    font-size: 16px;
    padding: 12px;
}

footer span {
    font-weight: bolder;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 15px;
}

footer li {
    margin-right: 26px;
    font-size: 22px;
}