/* GERAL */
body {
    background-color: #a5d166;
}

* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #532a8e;
    transition: 0.5s;
}

a:hover {
    color: #6a36b5;
}

/* NAVBAR */
#navbar, .navbar-inner {
    background-color: #81b536;
}

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #577a24;
}

.navbar-inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-inner h2 {
    color: #532a8e;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

/* MAIN */
.container {
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#post-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title, .description, .author {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
}

.author {
    color: #333;
    font-weight: bold;
}

/* SIDEBAR */
#sidebar {
    flex: 1 1 0;
}

#search-bar, #categories, #tags {
    padding: 1.5rem;
    border: 1px solid #577a24;
    margin-bottom: 1rem;
}

#search-bar h4, #categories h4, #tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form {
    display: flex;
}

#search-bar input {
    padding: .5rem 1rem;
    border: 1px solid #577a24;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #6a36b5;
    color: #fff;
    border: none;
    transition: 0.5s;
    margin-left: 5px;
}

#search-bar input[type="submit"]:hover {
    background-color: #9266d1;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#tags-container a {
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

/* FOOTER */
footer {
    border-top: 2px solid #577a24;
    padding: 3rem;
    text-align: center;
}

footer h2, footer p {
    margin-bottom: 1rem;
}

/* RESPONSIVIDADE */
@media (max-width: 450px) {
    .container {
        flex-wrap: wrap;
    }
}